*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
   background: linear-gradient(
    135deg,
    #0B1020 0%,
    #111827 50%,
    #09090B 100%
    );
    color:white;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    display:block;
    max-width:100%;
}

button{
    cursor:pointer;
    border:none;
}