/*  Trusted Section*/

.trusted{
  padding: 8rem 6rem;
  position: relative;
  left: 3rem;
   padding-bottom: 8rem;
}

.trusted-container{
  height: fit-content;  
  max-width: 1400px;
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(139,92,246,.25);
  border-radius: 30px;
  background: rgba(255,255,255,.02);
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 60px rgba(139,92,246,.08);
}

/* 
   Badge
 */

.trusted-badge{
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  gap: .6rem;
  padding: .8rem 1.5rem;
  border-radius: 999px;
  border: 1px solid rgba(139,92,246,.3);
  background: rgba(139,92,246,.08);
  color: #A78BFA;
  font-size: .9rem;
  letter-spacing: 1px;
}

/* 
   Title
 */

.trusted-title{
  font-size: 3.5rem;
  text-align: center;
  line-height: 1.2;
  margin-top: 2rem;
  color: white;
  font-weight: 700;
}

.trusted-title span{

  color: #8B5CF6;
}

/* 
   Description*/

.trusted-description{

  max-width: 650px;
  margin: 25px auto 60px;
  text-align: center;


  text-align: center;

  color: #9CA3AF;

  font-size: 1.1rem;

  line-height: 1.8;
}

/* 
   Grid*/

.trusted-grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

/*
   Card */

.trusted-card{
  width: 10rem;
  background: rgba(255,255,255,.03);
  border: 1px solid rgba(255,255,255,.06);
  border-radius: 20px;
  padding: 2rem 1rem;
  text-align: center;
  transition: .35s ease;
}

.trusted-card:hover{

    transform: translateY(-8px);

    border-color: #8B5CF6;

    box-shadow: 0 0 25px rgba(139,92,246,.2);
}

/* Icons */

.trusted-card i{
  font-size: 3rem;
  color: white;
  margin-bottom: 3rem;
}

.trusted-card img{
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 1rem;
  margin-left: 1.2rem;
}


/* Text */

.trusted-card h3{

  color: white;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.trusted-card p{
  color: #9CA3AF;
  font-size: .95rem;
}